[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
[submodule "meta-raspberrypi"]
	path = meta-raspberrypi
	url = https://git.yoctoproject.org/git/meta-raspberrypi
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://git.openembedded.org/meta-openembedded
[submodule "meta-aeld_final_project"]
	path = meta-aeld_final_project
	url = git@github.com:PlaceholderForAProperUsername/meta-aeld_final_project.git
